<%= link_to I18n.t('seo.button_text'), "javascript:void(0)", class: "seo_fuel", id: "edit_seo_btn" unless SeoFuel::VERSION < "0.0.5" %>
<div id="edit_seo_dialog" class="seo_fuel" style="display: none;">
  <%= form_for SeoTag.find_or_initialize_by(@seo_identifier.present? ? @seo_identifier : request.path), remote: true, html: {class: "seo_form"} do |f|%>
    <%= f.hidden_field :path %>
    <%= hidden_field_tag :key, seo_fuel_authentication_key  %>
    <%= f.label :title, "#{I18n.t('seo.form.title')}".html_safe %>
    <%= f.text_field :title, placeholder: @default_title %>
    <div class="spacer"></div>
    <%= f.label :description, "#{I18n.t('seo.form.description')}".html_safe %>
    <%= f.text_area :description, rows: 3, placeholder: @default_description %>

    <div class="spacer"></div>

    <%= link_to I18n.t('seo.more_options'), "javascript:void(0)", id: 'more-options-btn'%>
    
    <div style="display: none;" id="more-options">
      <%= f.label :keywords, "#{I18n.t('seo.form.keywords')}".html_safe %>
      <%= f.text_area :keywords, rows: 3, placeholder: @default_keywords %>
      <div class="spacer"></div>
      <%= f.label :canonical, "#{I18n.t('seo.form.canonical')}".html_safe %>
      <%= f.text_field :canonical, placeholder: I18n.t('seo.form.canonical_placeholder') %>
      <div class="spacer"></div>
      <div class="seo_check_box">
        <%= f.check_box :nofollow %><%= f.label :nofollow, "#{I18n.t('seo.form.nofollow')}".html_safe %>
      </div>
      <div class="spacer"></div>
      <div class="seo_check_box">
        <%= f.check_box :noindex %><%= f.label :noindex, "#{I18n.t('seo.form.noindex')}".html_safe %>
      </div>
    </div>
    <div class="spacer"></div>
    <div id="seo_buttons">
      <span id="cancel_seo_btn"><%= link_to I18n.t('seo.cancel'), "javascript:void(0)" %> <%= I18n.t('seo.or') %></span>
      
      <%= f.submit I18n.t('seo.save')%> 
    </div>
  <% end %>
</div>